@model AccountInfoViewModel
@{
	ViewData["Title"] = "Manage Info";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <button class="btn btn-outline-primary" onclick="goBack()">
                <i class="bi bi-arrow-left"></i> Go Back
            </button>
            <h2 class="text-center">Manage User Info</h2>
            <form asp-action="SaveAccountInfo" method="post">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="UserName" class="form-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Gender</label>
                    <div class="form-check">
                        <input asp-for="IsMale" class="form-check-input" type="radio" value="true" id="genderMale" />
                        <label class="form-check-label" for="genderMale">Male</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="IsMale" class="form-check-input" type="radio" value="false" id="genderFemale" />
                        <label class="form-check-label" for="genderFemale">Female</label>
                    </div>
                    <span asp-validation-for="IsMale" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="AccountBio" class="form-label"></label>
                    <textarea asp-for="AccountBio" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="AccountBio" class="text-danger"></span>
                </div>
                <input type="hidden" name="userId" value="@Model.Id" />
                <button type="submit" class="btn btn-primary w-100">Save Changes</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
