@{
    ViewData["Title"] = "Error";
}

<div class="container text-center mt-5">
    <p class="lead">Something went wrong.</p>
    <a href="/" class="btn btn-danger mt-3">Return to Homepage</a>
</div>
