@{
	ViewData["Title"] = "Admin Panel";
}

<div class="container text-center mt-5">
	<button class="btn btn-outline-primary mb-4" onclick="goBack()">
		<i class="bi bi-arrow-left"></i> Go Back
	</button>
	<h4 class="mb-4">Admin Panel</h4>
	<a class="btn btn-primary p-3" asp-area="Administrator" asp-action="All" asp-controller="Administrator">
		View All Users
	</a>
	<a class="btn btn-primary p-3" asp-area="Administrator" asp-action="ManageRoles" asp-controller="Administartor">
		View All Users
	</a>
</div>
