@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FEFBF8;
    font-family: "Quicksand", serif;
}

header {
    background-color: #E58767;
    color: white;
    font-weight: 600;
}
footer {
    background-color: #E58767;
    font-weight: 600;
}
a{
    color: white;
}

.logo-circle {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.navbar-brand{
    color: white;
}

.btn {
    background-color: #E58767;
    border-color: white;
    border-width: thick;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
}

.delete-btn {
    background-color: white;
    border-color: #E58767;
    border-width: thick;
    color: #E58767;
    padding: 10px 20px;
    font-weight: 600;
}

.btn:hover {
    background-color: white;
    border-color: #E58767;
    color: #E58767;
    font-weight: 600;
}

.form-label {
    color: #333;
    font-weight: bold;
}

.form-control {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #555;
}

.form-control:focus{
    border-color: #E58767;
    box-shadow: 0 0 5px rgba(229, 135, 103, 0.5);
    background-color: #fff;
    color: #000;
}

input:focus + label, textarea:focus + label {
    color: #E58767;
}

.form-control::placeholder {
    color: #aaa;
    font-style: italic;
}

.form-control:hover {
    border-color: #E58767;
}

.form-control:not(:focus) {
    border-color: #ccc;
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #E58767;
    border-color: #E58767;
}

.form-check-input:focus {
    border-color: #E58767;
    box-shadow: 0 0 3px rgba(229, 135, 103, 0.5);
}

.form-check-input:hover {
    border-color: #E58767;
}

.form-check-label {
    color: #333;
}

.border-primary {
    border-color: #E58767 !important;
}

.likes-count-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #E58767;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}