@model ChangePasswordViewModel;

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Reset Password</h2>
            <form asp-action="ForgotPassword" method="post">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="NewPassword" class="form-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="mt-b">
                    <label asp-for="ConfirmedNewPasswored" class="form-label"></label>
                    <input asp-for="ConfirmedNewPasswored" class="form-control" />
                    <span asp-validation-for="ConfirmedNewPasswored" class="text-danger"></span>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}